{% extends 'base.html.twig' %}

{% block body %}
 <h1 class="text-center mb-5">Nos produits </h1>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
        
            <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{product.name}}</td> 
                            <td>{{product.slug}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            <td><a href="{{ path('product_random')}}" class="btn btn-secondary">Voir le produit</a></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <p>Page {{current_page}} sur {{max_pages}} </p>
    </div>
    
{% endblock %}
