{% extends 'base.html.twig' %}

{% block body %}
 <h3>les produits en page {{current_page}} sont : </h3>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Description</th>
                    <th>Prix</th>
                </tr>
            </thead>
        
            <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{product.name}}</td> 
                            <td>{{product.slug}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

    <p>Page {{current_page}} sur {{max_pages}} </p>
{% endblock %}
