{% extends 'base.html.twig' %}

{% block body %}
 <h1 class="text-center mb-5">Nos produits </h1>
    <div class="container">
        <table class="table text-align">
            <thead class="thead-dark text-align">
                <tr>
                    <th scope="col">#</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
        
            <tbody>
                    {% for key, product in products %}
                        <tr>
                            <th scope="row">{{key}}</th>
                            <td>{{product.name}}</td> 
                            <td>{{product.slug}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            {# le deuxieme parametre de path permet de définir les paramètre obligatoires de la route. 
                            Ici, on génère l'url /product/iphone-x si product.slug = 'iphone-x' #}
                            <td><a href="{{ path('product_slug', {'slug' : product.slug} )}}" class="btn btn-secondary">Voir le produit</a></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <p>Page {{current_page}} sur {{max_pages}} </p>
    </div>
    
{% endblock %}
